<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!--  Local Stylesheets  -->
    <link rel="stylesheet" href="{{asset('bundles/heticapp/css/global.css')}}">
</head>
<style>
    li{
        margin-right:25%;
    }
</style>
<body class="body-mail">
	<header class="mail-header">
		<img src="{{asset('bundles/heticapp/img/logo.png')}}" class="logo_mail">
		<img src="{{asset('bundles/heticapp/img/guy.png')}}" class="guy_mail">
	</header>
	<section class="content-mail">
		<header class="header-mail">
			<div class="col-sm-12">
                    <div class="pull-left">
                        <h2 style="    margin: 0 auto;
    text-align: center;
    margin-top: 5%;">Participe à la Ping Pong Startup Cup !</h2>
                    </div>
                    <div class="pull-right">
                        <ul style="list-style: none;
    display: inline-flex;">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
		</header>
		<section class="main-mail">
			<p style="text-align: center;">Rejoins le 1er concours de Ping Pong inter-startup et tu sera peut-être le champion !<br>Pour participer et défier tes collègues clique sur le lien ci-dessous :</p>
			<div class="center-mail">
				<button class="btn btn-connexion">Je Participe !</button><br><br>
				<p>NOUVEAU ! VOUS POUVEZ DIFFUSER VOS MATCHES EN DIRECT<BR>VIA YOUTUBE</p><br>
				<button class="btn btn-participer">EN SAVOIR PLUS</button>
			</div>
		</section>
		<footer class="footer-mail">
			<p style="margin: 0 auto;">© Digital Village. Tous droits réservés.<br>Ceci est un message encoyé automatiquement. Merci de ne pas répondre à ce message.<br><a style="color:white;"href="#">Me désabonner</a></p>
		</footer>
	</section>
</body>
</html>
